<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <h1>TASK REGISTRATION</h1>

    <form method="post" action="/tasks/registration">
        <fieldset>

            <div class="input-group">
                <label for="name">What are you working on?</label>
                <input id="name" name="name" th:value="${task?.name}">
                <label for="sprintsGoal" >How much time you intend to invest?
                <input id="sprintsGoal" name="sprintsGoal" th:value="${task?.sprintsGoal}">
                </label>
            </div>

            <input type="submit" value="Add">

        </fieldset>
    </form>


</div>
</body>
</html>