<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <h1>TASK REGISTRATION</h1>

    <form>
        <fieldset>
            <div class="input-group">
                <label for="task-name">What are you working on?</label>
                <input id="task-name" name="task-name">
            </div>
<!--            <label class="flex-col" for="task-name">What are you working on?-->
<!--                <input id="task-name" name="task-name">-->
<!--            </label>-->

            <label for="sprintsGoal">How much time you intend to invest?
                <input id="sprintsGoal" name="sprintsGoal">
            </label>

        </fieldset>
    </form>


</div>
</body>
</html>