body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
    align-items: center;

}
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

input-group {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin: 0.5rem 0;
}
form fieldset {
    border: none;
    padding: 2rem;
    border:3px solid #3b3b4f;
}

.center-table {
    margin: 0 auto;
}
div a {
    margin: 0 auto;
    text-align: center;
}

.center-column {
    text-align: center;
    min-width: 150px;
}
h1, p{
    margin: 1em auto;
    text-align: center;
}
